/*************************************
 ***  Made By Yohay Hackam         ***
 ***  mail: Yoman_321@hotmail.com  ***
 ***  054-2616626                  ***
 *************************************/
 /******************* variable declaration *************************************/
 :root {
   --visibleGroupCount:1;
  --nav-back-color: rgb(23, 38, 104);
  --nav-back-color-seconed: rgb(53 57 75);
  --activeBox-back-color: rgb(53 60 91);
  --eventBtnHover: rgba(101, 144, 200,0.9);
  --hrInBox: rgba(101, 144, 200,0.1);
  --box-background-color: rgb(53,57,75);
  --BoxOutShadow:rgba(15, 15, 34,0.5);
  --event-background:rgb(23, 38, 104);
  --eventGruop-background:rgb(81, 92, 194);
  --eventGruop-background-seconed:rgb(9, 71, 141);
  --activeEventGroup-BackGround-second:rgb(43, 182, 175);
  --reversFlow--bacground:rgb(206, 1, 1);
  --counter-background:#e3f2f5;
  font-family: Verdana, sans-serif;
}

/***************** Defult Settings  **************************/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 /* html{height:100vh;} */
body{
  height: 100vh;
  background-color:black;
  overflow: hidden;
} */
label{
  transition:all 0.3s;
  cursor: pointer;
}
hr{
  border: 1px solid var(--hrInBox);
  margin: 0 1rem ;
}
a{text-decoration: none;}

  /************ Navagation BAR  ---  TBD --- ***************/
nav{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom ,var(--nav-back-color) ,var(--box-background-color));
  color: lightgray;
  font-size: 1.6rem;  
}
nav>span{
margin: 5px 5px;
transition: all 0.5s ;
}
nav img{
  margin: 0px 10px;
  height: 30px;
}
nav .version{
  margin: 20px auto;
  gap: 0px 100px;
  font-family:monospace;
  font-size: 1rem;
}
nav>span:hover{
  background-color:var(--eventBtnHover);
  border-radius: 10px;
  color: white; 
}

/********** Main Windows *******************/
.center{ 
  display: flex;
  margin: 0 auto;
  height: calc(100vh - 60px);
  justify-content: space-between;
  box-shadow: 3px 3px 15px inset var(--box-inset-shadow);
  background-color: var(--box-background-color);       
  
  border-style: none;  
  /* padding:16px 32px; */
}
/* Windows outer shaddow */
.boxShadow{
  box-shadow: 10px 10px 20px var(--BoxOutShadow);
  border-radius: 20px;
}

/********************** Alerts/Events window ****************************/
#rightBox{
  margin:0px;
  min-width: 300px;
  width:25%;
  background:var(--activeBox-back-color);
  z-index:1;
}
/************* Events Tab  *********************8*/
#eventsTab{
  padding: 0 8px;
   height:90%;
    /* height: 100%; */
}
/***************** TAB Button area ************************/
.tabSelect{ 
  display: flex;
  justify-content: space-evenly;
  
}
.tabSelect>label{  
  text-align: center;
  font-size: 1.2rem;
  color:gray;
  background-color: var(--box-background-color);
  flex-grow: 1;
}
.tabSelect> label[for="allEvents"]{border-top-right-radius: 10px;}
.tabSelect> label[for="allAlerts"]{border-top-left-radius: 10px;}

.tabSelect hr{
  margin: 0.1rem 0px;
  background:var(--box-background-color);
}
/***** Selected Tab Lable************/
.tabSelect>input[type="radio"]:checked +label{
  background-color: var(--activeBox-back-color);
  color:aliceblue;
}
.tabSelect>input[type="radio"]:not(:checked) +label:hover{
  color:white;
  background-color: var(--eventBtnHover);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


/******************** Events Type Groups *****************/
.eventGroup{
  position: relative;
  overflow:hidden;
  max-height: 3.5rem ;
  color: lightgray;
  margin: 8px 16px;
  box-shadow: 0px 0px 0px var(--box-background-color);
  border-radius: 5px;
  background-image: linear-gradient(to bottom left ,var(--eventGruop-background) ,var(--eventGruop-background-seconed));
  transition:max-height .9s ease-in-out ,border-radius 0.4s,transform 0.5s,box-shadow 0.5s;
}
/* Selected Event Group type*/
input[type="radio"]:checked +.eventGroup{
  box-shadow: 10px 5px 7px var(--BoxOutShadow);
  background-image: linear-gradient(to bottom left ,var(--eventGruop-background) ,var(--activeEventGroup-BackGround-second));
  margin-bottom:16px;
  transform: translate(-8px);
  max-height: 100%;
  z-index: 2;
  }
  /* Special for Event Group Reverse Flow direction*/
  #reversFlows{
    color:white; 
    background-image: linear-gradient( var(--reversFlow--bacground), var(--reversFlow--bacground)) !important;
    }  
  
/* Grouped Events Header*/
.eventGroupHeader{
  display: flex;
  white-space: nowrap;
  font-size: 1.2em;
  line-height:2rem;
  padding:8px;
  padding-right: 30px;
  /* line-height:32px; */
  /* margin-bottom: 8px; */
  justify-content: space-between ;
  overflow: hidden;
  transition:all 0.3s;
  }
/* Selected event group header*/
input[type="radio"]:checked +.eventGroup > .eventGroupHeader{
  color: white;
}
/***Hover on Event Group except selected Group***/
.eventGroupHeader:not(input[type="radio"]:checked +.eventGroup > .eventGroupHeader):hover {
    color:white;
    background-image: linear-gradient(to bottom left, var(--eventGruop-background),var(--activeEventGroup-BackGround-second));
}

  /* Grouped Event Counter*/
  .eventGroupCounter{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--counter-background);  
  color: black;
  text-align: center;
  margin: 0 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 0.7rem;
  }
  input[type="radio"]:checked +.eventGroup .eventGroupCounter{
    background-color: orange;
    font-weight: bolder;
  }
/* Events container for events in Group */
.eventGroupList{
  display:flex;
  flex-direction:column;
  overflow-x:hidden;
  overflow-y: auto;
}
/* Selected Event Group container */
input[type="radio"]:checked +.eventGroup > .eventGroupList{
  display: flex;
  overflow-y:auto;
  max-height: calc(calc(90vh - 6rem) - calc(var(--visibleGroupCount) * 2.3rem));
}

  
/*********** Map Window ************/
#mapContainer{
width: 100%;
margin: 0 16px;
}

/******* Event **********/
.event{
  display:flex;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
  color: azure;
  text-align: center;
  min-width: 190px;
  margin:0 8px 8px;
  border-radius: 8px;
  padding:4px;
background-color: var(--event-background);
transition:background-color .3s ,border-radius .5s ease;
}
.event:hover {
  background-color: var(--eventBtnHover);
  border-radius: 10px;
}

.eventIcon{
max-height: 2rem;
order: -1;
padding-left: 3px ;
}

/***** Search  ********/
.searchBox{
  display: block;
  white-space: nowrap;
  line-height: 2rem;
  font-size: 1.3rem;
  max-width: min(30% ,200px);
  margin-top: 1rem;
  background-color: rgba(255,255,255,.5);
  position:absolute;
  right: max(30%,300px);
  z-index: 1;
}
.searchBox>input{
  font-size: 1.3rem;
  width:60%;
  background-color: rgba(255,255,255,.0);
  border:none;
 border-bottom: 1px solid gray;
}

/*********** Psudo Class for JavaScript Manipulation ************************/

/** for hidding empty event group */
.hide{
  display: none;
  overflow: hidden;
}

/* Tab and Event Group select */
#rightBox input[type="radio"]{
  display:none
}
/********************** Mobile Support     *ָָָָָָָָָָָָָָָָָָָָָָָָָ************************/
@media screen and (max-width:750px) {
.searchBox,nav{
  display:none;
}
.center{
  /* width: 100vw; */
  height:100vh;
  padding:0.2rem;
}
#rightBox{
  min-width: 140px;
  margin-left: 2px;

}
#eventsTab{
  padding:0 
}
.eventGroupHeader , .eventGroup{
 /* min-width: 120px; */
 font-size: 0.8rem;
 line-height:1rem;
 padding: 2px;
 font-weight: lighter;
 margin: 0 4px 4px;

}
input[type="radio"]:checked ~.eventGroup{
margin-bottom: 8px;
}

input[type="radio"]:checked +.eventGroup > .eventGroupList{
  max-height: calc(calc(90vh - 4rem) - calc(var(--visibleGroupCount) * 2rem));
}

.event{
  min-width: auto;
  max-height: 2rem;
 font-size: 0.5rem;
 margin: 0 2px 2px ;
 padding: 2px;
 font-weight: lighter;
}


.eventIcon{
  max-height: 1rem;
}
}